<div class="edam">
    <input type="text" class="form-control" autocomplete="off" placeholder="Type to search for a term..." />
    <div class="spinner"></div>
    <div class="clear">✖</div>
    <ul class="terms">
    </ul>
    <div class="info"></div>
</div>
