<li class="input">
    <span class="grip glyphicon glyphicon-option-vertical"></span>
    <input type="text" class="form-control" value="{{this}}">
    <span class="remove glyphicon glyphicon-remove"></span>
</li>
