.edam {
  position: relative;

  label {
    font-weight: normal !important;
  }

  label:hover {
    color: cornflowerblue;
  }


  ul, li {
    margin: 0;
    padding: 0;
  }

  li {
    margin-left: 15px;
  }

  .term {
    display: none;
    position: relative;
  }

  i.form-info {
    position: relative;
    top: -3px;
    left: 3px;
  }

  .disclosure {
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: -15px;
  }

  .disclosed {
    .disclosure {
      position: absolute;
      //top: 2px;
      //left: -15px;
      //transform: rotate(-90deg);
    }
  }




  .info {
    display: none;
    background-color: #d9edf7;
    padding: 5px 10px 0.1px 10px;
    border-radius: 5px;
    position: relative;
    top: -5px;

    p {
      margin-bottom: 5px;
    }
  }

  .term.shown {
    display: block;
  }

  .synonym > label::after {
      content: ' (by synonym)';
      display: inline-block;
      font-weight: 300;
      color: #999;
  }

  .clear {
    display: inline-block;
    position: absolute;
    right: 12px;
    top: 8px;
    //width: 12px;
    //height: 12px;
    display: none;
    cursor: pointer;
  }

  .spinner {
    display: inline-block;
    position: absolute;
    right: 12px;
    top: 12px;

    border: 2px solid #cccccc;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 12px;
    height: 12px;
    -webkit-animation: spin 500ms linear infinite; /* Safari */
    animation: spin 500ms linear infinite;
    display: none;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


}
